openapi: 3.2.0
info:
  title: Loopio Tags API
  description: Loopio's Public API
  termsOfService: http://loopio.com/termsOfService
  contact:
    email: support@loopio.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.loopio.com/data/v2
  description: Production server for the American datacenter
- url: https://api.eu.loopio.com/data/v2
  description: Production server for the European datacenter
tags:
- name: Tags
  description: Create and manage Tags
paths:
  /tags:
    get:
      tags:
      - Tags
      summary: List Available Tags
      operationId: getTags
      parameters:
      - name: namePrefix
        in: query
        description: Tag Name to search for
        required: false
        schema:
          type: string
          example: canada
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK - Returns a paginated list of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsPaginated'
        '403':
          $ref: '#/components/responses/403'
      security:
      - loopio_auth:
        - library:read
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      description: The numbers of items to return
      schema:
        type: integer
        minimum: 1
        example: 10
        default: 10
      required: false
    Page:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
        example: 5
        default: 1
      required: false
  responses:
    '403':
      description: No Permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            name: NO_PERMISSION
            message: No permission to access the resource
            debugId: 0fas3
  schemas:
    TagsPaginated:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of tags matching the search criteria
          example: 25
        totalPages:
          type: integer
          description: Total number of pages
          example: 5
        items:
          type: array
          description: List of tags for the current page
          items:
            $ref: '#/components/schemas/Tag'
      required:
      - totalItems
      - totalPages
      - items
    Tag:
      type: object
      properties:
        id:
          type: integer
          description: Tag Id
        name:
          type: string
          description: Tag name
        createdByUserID:
          type: integer
          description: Id of User who created the Tag
        createdDate:
          type: string
          format: date-time
          description: Date of creation
        lastUpdatedDate:
          type: string
          format: date-time
          description: Date when the Tag was last updated
      example:
        id: 5
        name: Canada
        createdByUserID: 12345
        createdDate: '2021-03-08T15:50:00Z'
        lastUpdatedDate: '2021-03-09T10:35:00Z'
    Error:
      type: object
      properties:
        name:
          type: string
          enum:
          - FATAL_ERROR
          - FORBIDDEN
          - INVALID_REQUEST
          - NO_PERMISSION
          - RESOURCE_NOT_FOUND
          - UNPROCESSABLE_REQUEST
          - VALIDATION_ERROR
        message:
          type: string
        debugId:
          type: string
  securitySchemes:
    loopio_auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/authorize
          tokenUrl: /oauth2/access_token
          scopes:
            mergeVariable:read: View Merge Variables
            mergeVariable:write: Create/Edit Merge Variables
            mergeVariable:delete: Delete Merge Variables
            crm:read: List CRM opportunities linked to projects
            crm:write: Link CRM opportunities to projects
            customer.info:read: View customer information
            file:read: Download files and view file information
            file:delete: Delete files
            library:read: List Library Entries and stacks, view Library Entries and Entry data
            library:write: Create and update Library Entries and Entry data
            library:delete: Delete Library Entries
            project:read: List Projects, view Project data and source documents
            project:write: Create and update Projects, Project data, and source documents
            project:delete: Delete a Project
            project.participant:read: List participants of a project
            project.participant:write: Update participant information
            role:read: List user assignable roles
            user:read: List users, view user information
            user:write: Update user information
            webhook:read: View webhook subscriptions
            webhook:write: Create & edit webhook subscriptions
            webhook:delete: Delete webhook subscriptions
        clientCredentials:
          tokenUrl: /oauth2/access_token
          scopes:
            mergeVariable:read: View Merge Variables
            mergeVariable:write: Create/Edit Merge Variables
            mergeVariable:delete: Delete Merge Variables
            crm:read: List CRM opportunities linked to projects
            crm:write: Link CRM opportunities to projects
            customer.info:read: View customer information
            file:read: Download files and view file information
            file:delete: Delete files
            library:read: List Library Entries and stacks, view Library Entries and Entry data
            library:write: Create and update Library Entries and Entry data
            library:delete: Delete Library Entries
            project:read: List Projects, view Project data and source documents
            project:write: Create and update Projects, Project data, and source documents
            project:delete: Delete a Project
            project.participant:read: List participants of a project
            project.participant:write: Update participant information
            role:read: List user assignable roles
            user:read: List users, view user information
            user:write: Update user information
            webhook:read: View webhook subscriptions
            webhook:write: Create & edit webhook subscriptions
            webhook:delete: Delete webhook subscriptions
